/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body{
    padding: 20px;
}

li{
    padding: 5px;
    list-style-type: none;
}