<!-- <div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort> -->

    <!--
      <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
    -->
    <!-- <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container> -->


    <!-- <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container> -->

    <!-- <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container> -->


    <!-- <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container> -->

    <!-- <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
      </ng-container> -->


    <!-- <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container> -->

    <!-- <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.company.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "rowClicked(row)"></mat-row>
  </mat-table>

  <mat-paginator [length]="5" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</div> -->

<!-- <div class="row"> -->
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
      <mat-card class="mat-elevation-z9">
          <mat-card-header id="my-card-header">
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- <ul>
              <li>Post Trade Monitor</li>
              <li>Account Monitor</li>
              <li>System Administration</li>
              <li>Portal Admin</li>
            </ul> -->
            <mat-selection-list>
              <mat-list-option>Post Trade Monitor</mat-list-option>
              <mat-list-option>Account Monitor</mat-list-option>
              <mat-list-option>System Administration</mat-list-option>
              <mat-list-option>Portal Admin</mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>
  
  
  <!-- <mat-card class="mat-elevation-z9">
    <mat-card-header id="my-card-header">
      <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Post Trade Monitor</li>
        <li>Account Monitor</li>
        <li>System Administration</li>
        <li>Portal Admin</li>
      </ul>
    </mat-card-content>
  </mat-card> -->
  <mat-grid-tile>
    <div>
      <button class="btn btn-success">Add ></button><br><br>
      <button class="btn btn-danger"> < Remove</button><br><br>
      <button class="btn btn-primary">Save</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card class="mat-elevation-z9">
          <mat-card-header id="my-card-header">
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li>Post Trade Monitor</li>
              <li>Account Monitor</li>
              <li>System Administration</li>
              <li>Portal Admin</li>
            </ul>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<!-- <div class="login form">
  <div class="card">
          <div id="my-title-container" class="card-header">
                  <h5 class="my-card-header-title">LOGIN</h5>
          </div>
          <div class="card-body">
              <form method="post" action = "/">
                      <div id="field-container" class="input-group">
                              <span class="input-group-addon"><i id = "field-icon" class="material-icons">person</i></span>
                              <input name="username"id ="username" type="email" class="form-control" placeholder="Username"/>
                      </div>
                      <div id="field-container" class="input-group">
                              <span class="input-group-addon"><i class="material-icons">vpn_key</i></span>
                             <input name = "password" id = "password" type="password" class="form-control" placeholder="Password"/>
                      </div>
                      <div>
                              <button id="primary-button"  type="submit" class="btn btn-primary ">Submit</button>
                              
                              
                      </div>
                      <div class="dropdown-divider"></div>
                      <div >
                              <a id = "text"> New user?</a>
                              
                              <a class = "button" href="/signup">Signup</a>                                        
                      
                      </div>
                    </form>

              

          </div>

  </div>

</div> -->